# Build results
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docview

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docview

# NuGet
*.nupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET


# Environment & secrets
appsettings.Development.json
appsettings.json
*.env
*.sqlite
*.db
*.mdf 
*.ldf
# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/